@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 204, 229, 255;
  --accent-color-rgb: 140, 201, 255;
  --alt-accent-color-rgb: 129, 162, 255;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

/*body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}*/

.mainTitle {
  font-size: 2rem;
  font-weight: 300;
  padding: 5rem 0rem;
}

.pageRemainder {
  display: flex;
  flex-direction: column;
  height: 90%;
  min-width: 1240px;
  max-width: 1240px;
  align-items: center;
}
